.rating {
    font-size: 1.25rem;
  }
  
  .rating-text {
    font-weight: 500;
  }
  
  .rating-select {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .rating-select i {
    margin-right: 5px;
    transition: all 0.2s;
  }
  
  .rating-select i:hover {
    transform: scale(1.2);
  }
  
  .comment-card {
    border-bottom: 1px solid var(--neutral-200);
    padding: 15px 0;
  }
  
  .comment-card:last-child {
    border-bottom: none;
  }
  
  .comment-text {
    white-space: pre-line;
  }